* {
  box-sizing: border-box;
}

.compareSlider-imgBox {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.compareSlider-imgBox img {
  display: block;
  max-width: unset;
}

#compareSlider-divisor {
  position: absolute;
  top: 0;
  height: 100%;
  left: 50.3%;
  transform: translateX(-50%);
  z-index: 99;
}

#compareSlider-divisor-01 {
  top: 0;
  height: calc(61% - 25px);
}

#compareSlider-divisor-02 {
  bottom: 0;
  height: calc(39% - 25px);
}

#compareSlider-divisor-01,
#compareSlider-divisor-02 {
  content: '';
  position: absolute;
  width: 4px;
  left: -4px;
  background: #fff;
  z-index: 3;
}

#compareSlider-slider {
  position: absolute;
  z-index: 9;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: cursor;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
  border-radius: 50%;
}